<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="bg-dark">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/curriculum-vitae.js}"></script>
    <link rel="stylesheet" th:href="@{/css/cv.css}"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="text-white container-fluid bg-dark">
<div class="m-5">
    <h1 th:if="${name}" th:text="${name} + ' , I hope you are interested to hire me'"> </h1>
    <h1 th:unless="${name}"> This is my CV </h1>
    <br>
    <h2 class="text-primary"> Biodata</h2>
    <br>
    <div> Nama: Reynaldo Wijaya Hendry </div>
    <div> Tempat/Tanggal Lahir: Batam, 5 November 1999 </div>
    <div> Alamat: Jalan Margonda No 1, Pondok Cina, Beji </div>
    <br>
    <div> SMP: SMP Maitreyawira Batam, Batam </div>
    <div> SMA: SMA Maitreyawira Batam, Batam</div>
    <div> Kuliah: Fakultas Ilmu Komputer, Universitas Indonesia </div>
    <br>
    <div> Halo, Namaku Rey, biasa dipanggil ganteng. Aku dari Batam. Kalo kata
        orang-orang aku itu ga dilahirkan tapi diseludupkan. Aku sendiri tidak tau kebenarannya.
        Hm.. Apalagi ya. Aku juga gatau. Hobiku sekarang mengerjakan tugas. Sebelumnya bermain game sih
        tetapi setelah masuk fasilkom aku bisa bilang hobiku udah berubah. Terima kasih Fasilkom. Oh, aku juga
        salah satu orang milenial yang masih menggunan facebook. Facebook adalah tempat terbaik untuk mencari meme.
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
